-# frozen_string_literal: true
= simple_form_for @family, url: [:admin, :family] do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  = f.input :name
  = f.input :username
  = f.input :code
  = f.input :time_zone, collection: ActiveSupport::TimeZone::MAPPING

  .d-flex.flex-row-reverse
    .p-2
      = f.button :submit, class: "btn btn-primary"
