- if @kids.none?
  %em
    No kids setup, please
    = link_to "complete setup.", [:edit, :parents, :family_signup]

- @kids.each do |kid|
  %hr
  - time_log = kid.time_logs.in_progress.first
  .row.align-items-center.medium-row
    .col
      = kid.first_name
      %div.small Tokens: #{kid.token_balance}
    .col.text-center
      .mt-n1
        .d-flex.flex-row.justify-content-center
          - if time_log.present?
            = simple_form_for [:kids, time_log] do |f|
              .small
                #{time_log.activity.name} since #{time_log.starts_at.in_time_zone.to_s(:time)}
              = f.input :stop_now, as: :hidden, input_html: { value: true }
              = f.submit "Stop", class: "red btn"
          - else
            - Activity.each.with_index(1) do |activity, index|
              .p-2
                = simple_form_for [:kids, TimeLog.new], url: [:kids, :time_logs], method: :post do |f|
                  = f.input :activity_id, as: :hidden, input_html: { value: activity.id }
                  = f.input :kid_id, as: :hidden, input_html: { value: kid.id }
                  = f.submit "#{activity.token_affect.symbol} #{activity.name}", class: "#{activity.token_affect.color} btn"
