- @kids.each do |kid|
  - time_log = kid.time_logs.in_progress.first
  .row.align-items-center.tall-row
    .col
      = kid.first_name
      %br
        %small Tokens: #{kid.token_balance}
    .col.text-center
      - if time_log.present?
        = simple_form_for time_log do |f|
          #{time_log.activity.in_progress_name} since #{time_log.starts_at.in_time_zone.to_s(:time)}
          = f.input :stop_now, as: :hidden, input_html: { value: true }
          = f.submit "Stop", class: "red btn"
      - else
        - Activity.each.with_index(1) do |activity, index|
          = simple_form_for :time_log, url: :time_logs, method: :post do |f|
            = f.input :activity_id, as: :hidden, input_html: { value: activity.id }
            = f.input :kid_id, as: :hidden, input_html: { value: kid.id }
            = f.submit "#{activity.token_affect.symbol} #{activity.name}", class: "#{activity.token_affect.color} btn"
