<% dropdown_content = grid.html_columns(*options[:columns]).select{ |c| (c.options[:dropdown] == :dropdown_content) }.first %>
<tr <%= grid.respond_to?(:row_id) ? grid.row_id(asset) : "" %> class="<%= grid.respond_to?(:row_class) ? grid.row_class(asset) : "" %> <%="has-dropdown" unless dropdown_content.nil? %>" <%= grid.respond_to?(:row_style) ? grid.row_style : "" %>>
  <% grid.html_columns(*options[:columns]).each do |column| %>
    <% next if column == dropdown_content %>
    <td class="<%= datagrid_column_classes(grid, column) %>"><%= datagrid_value(grid, column, asset) %></td>
  <% end %>
</tr>
<% unless dropdown_content.nil? %>
<tr class="dropdown-row <%= grid.respond_to?(:row_class) ? grid.row_class(asset) : "" %>">
  <td colspan="1000"><div class="row-content-wrap"><%=datagrid_value(grid, dropdown_content, asset)%></div></td>
</tr>
<% end %>
