-# frozen_string_literal: true
= simple_form_for @family, url: [:parents, :family] do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  = f.input :name
  = f.input :username
  = f.input :code
  = f.input :token_value
  = f.input :time_zone, collection: ActiveSupport::TimeZone::MAPPING

  = render "common/forms/form_submit", cancel_path: false, f: f
