%h1 Listing Activities

%table.table-striped.table
  %thead
    %tr
      %th Activity
      %th Duration
      %th
      %th
      %th
      %th

  %tbody
    - @admin_activities.each do |activity|
      %tr
        %td= activity.name
        %td= activity.token_duration
        %td= activity.token_affect.try(:text)
        %td= link_to 'Show', [:parents, activity]
        %td= link_to 'Edit', [:edit, :parents, activity]
        %td= link_to 'Destroy', [:parents, activity], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Activity', [:new, :parents, :activity]
