.row.justify-content-center.mt-5
  .col-12.col-md-10.col-lg-8
    .row.justify-content-center.mb-3
      .card.mb-4
        .card-body.min-400
          %h1 Setup #{signup_step.text}

          .progress
            .progress-bar{ role: :progressbar, style: "width: #{@signup.percentage}%", "aria-valuenow": "#{@signup.percentage}", "aria-valuemin": "0", "aria-valuemax": "100" }
              Step #{signup_step.step_number}

          .mt-4
          %hr
          = render "parents/#{signup_step.to_s}_signups/form"
