= simple_form_for [:admin, @activity] do |f|
  - if @activity.errors.any?
    #error_explanation
      %h2= "#{pluralize(@activity.errors.count, "error")} prohibited this activity from being saved:"
      %ul
        - @activity.errors.full_messages.each do |msg|
          %li= msg

  = f.input :name
  = f.input :in_progress_name

  .actions
    = f.submit 'Save'
