%p#notice= notice

= @kid.first_name

%p
  Initial Tokens: #{@kid.initial_token_balance}

%p
  Earned: #{@kid.tokens_earned}

%p
  Spent: #{@kid.tokens_spent}

%p
  Balance: #{@kid.token_balance}

%p
  Redeemed: #{@kid.tokens_redeemed}

= link_to 'Back', [:parents, :kids]
