%h1 Listing kids

%table.table-striped.table
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Bithday
      %th Token Balance
      %th{colspan: 3}


    %tbody
      - @kids.each do |kid|
        %tr
          %td= kid.first_name
          %td= kid.last_name
          %td= kid.date_of_birth.to_s
          %td= kid.token_balance
          %td= link_to 'Show', [:admin, kid]
          %td= link_to 'Edit', [:edit, :admin, kid]

%br

= link_to 'New Kid', [:new, :admin, :kid]
