= simple_form_for [:admin, @time_log] do |f|
  - if @time_log.errors.any?
    #error_explanation
      %h2= "#{pluralize(@time_log.errors.count, "error")} prohibited this time_log from being saved:"
      %ul
        - @time_log.errors.full_messages.each do |msg|
          %li= msg

  = f.input :kid_id, label: false, collection: Kid.all.map{ |kid| [kid.first_name, kid.id] }
  = f.input :activity_id, label: false, collection: Activity.all.map{ |activity| [activity.name, activity.id] }
  = f.input :starts_at
  = f.input :stops_at

  .actions
    = f.submit 'Save'
