!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FamilyTokens
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %p.notice= notice
    %p.alert= alert
    .header
      .container
        .row.align-items-center.tall-row
          .col-2
          .col
            - if find_family_from_cookie.present?
              = current_family.name
              = link_to "Logout", :family_code, method: :delete
          .col-2

    .container
      = yield
