!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FamilyTokens
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

    %link{rel: "icon", type: "image/png", href: asset_pack_path("media/application/images/favicon.png") }
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      = link_to current_family.presenter.name, [:parents], class: "navbar-brand"
      %button.navbar-toggler{ type: :toggler, "data-toggle": :collapse, "data-target": "#navbar-content"}
        %span.navbar-toggler-icon

      %div.collapse.navbar-collapse#navbar-content
        %ul.navbar-nav.mr-auto
          %li.nav-item
            = link_to "Kids", [:parents, :kids], class: "nav-link"
          %li.nav-item
            = link_to "Activities", [:parents, :activities], class: "nav-link"
          %li.nav-item
            = link_to "Time Log", [:parents, :time_logs], class: "nav-link"
          %li.nav-item
            = link_to "Rewards", [:parents, :rewards], class: "nav-link"
          %li.nav-item
            = link_to [:parents, :redemptions], class: "nav-link" do
              Reward Redemptions
              - if Redemption.unfulfilled.any?
                %sup.text-danger.font-weight-bold
                  (#{Redemption.unfulfilled.count})
          %li.nav-item
            = link_to "Transactions", [:parents, :transactions], class: "nav-link"
          %li.nav-item
            = link_to "Settings", [:edit, :parents, :family], class: "nav-link"
          %li.nav-item
            = link_to "Token Tracker", [:kids], class: "nav-link", target: :_blank
          %li.nav-item
            = link_to "Logout", destroy_user_session_path, class: "nav-link", target: :_blank

    = render "layouts/flash"

    .container
      = yield
